**Задание 1**

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source равен yandex или google, то в source_type ставится organic 
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [ ]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

    timestamp    visit_id  ...     user_id traffic_source
0  1549980692  e3b0c44298  ...  b1613cc09f         yandex
1  1549980704  6e340b9cff  ...  4c3ec14bee         direct
2  1549980715  96a296d224  ...  a8c40697fb         yandex
3  1549980725  709e80c884  ...  521ac1d6a0         yandex
4  1549980736  df3f619804  ...  d7323c571c         yandex

[5 rows x 6 columns]

In [ ]:
def classification(df):
    """ Разделение traffic_source на типы (source_type) """
    if df['traffic_source'] in ['google', 'yandex']:
        return 'organic'
    elif (df['traffic_source'] in ['paid', 'email']) and (df['region']=='Russia'):
        return 'ad'
    elif (df['traffic_source'] in ['paid', 'email']) and (df['region']!='Russia'):
        return 'other'
    return df['traffic_source']

In [ ]:
# Способ №1
log['source_type'] = log.apply(classification, axis=1)
log.head(20)

     timestamp    visit_id  ... traffic_source source_type
0   1549980692  e3b0c44298  ...         yandex     organic
1   1549980704  6e340b9cff  ...         direct      direct
2   1549980715  96a296d224  ...         yandex     organic
3   1549980725  709e80c884  ...         yandex     organic
4   1549980736  df3f619804  ...         yandex     organic
5   1549980742  8855508aad  ...         yandex     organic
6   1549980742  b0f66adc83  ...           paid          ad
7   1549980754  837885c8f8  ...         direct      direct
8   1549980760  af5570f5a1  ...         direct      direct
9   1549980765  3e7077fd2f  ...          email          ad
10  1549980777  01d448afd9  ...         direct      direct
11  1549980785  71b6c1d538  ...         google     organic
12  1549980789  15ec7bf0b5  ...           paid          ad
13  1549980792  dd46c3eebb  ...         direct      direct
14  1549980793  e7ecebbc59  ...         direct      direct
15  1549980797  5322fecfc9  ...           paid       other
16  1549980801  374708fff7  ...         google     organic
17  1549980807  0a88111852  ...           paid       other
18  1549980814  60daa3a5f7  ...         direct      direct
19  1549980816  d6fd62f5ce  ...         direct      direct

[20 rows x 7 columns]

In [ ]:
# Способ №2
log['source_type'] = log['traffic_source']
log.loc[log['traffic_source'].str.contains('google|yandex'), 'source_type'] = 'organic'
log.loc[(log['traffic_source'].str.contains('paid|email'))&(log['region'].str.contains('Russia')), 'source_type'] = 'ad'
log.loc[(log['traffic_source'].str.contains('paid|email'))&(~log['region'].str.contains('Russia')), 'source_type'] = 'other'
log.head(20)

     timestamp    visit_id  ... traffic_source source_type
0   1549980692  e3b0c44298  ...         yandex     organic
1   1549980704  6e340b9cff  ...         direct      direct
2   1549980715  96a296d224  ...         yandex     organic
3   1549980725  709e80c884  ...         yandex     organic
4   1549980736  df3f619804  ...         yandex     organic
5   1549980742  8855508aad  ...         yandex     organic
6   1549980742  b0f66adc83  ...           paid          ad
7   1549980754  837885c8f8  ...         direct      direct
8   1549980760  af5570f5a1  ...         direct      direct
9   1549980765  3e7077fd2f  ...          email          ad
10  1549980777  01d448afd9  ...         direct      direct
11  1549980785  71b6c1d538  ...         google     organic
12  1549980789  15ec7bf0b5  ...           paid          ad
13  1549980792  dd46c3eebb  ...         direct      direct
14  1549980793  e7ecebbc59  ...         direct      direct
15  1549980797  5322fecfc9  ...           paid       other
16  1549980801  374708fff7  ...         google     organic
17  1549980807  0a88111852  ...           paid       other
18  1549980814  60daa3a5f7  ...         direct      direct
19  1549980816  d6fd62f5ce  ...         direct      direct

[20 rows x 7 columns]

**Задание 2**

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм
1. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [ ]:
URLs = pd.read_csv('URLs.txt')
URLs.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [ ]:
URLs_sort_news = URLs.loc[URLs['url'].str.contains('/\d{8}-', regex=True)]
URLs_sort_news.head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

**Задание 3**

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [ ]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
max_time_range = ratings.groupby('userId').agg({'timestamp':['min', 'max'], 'userId':['count']})
max_time_range = max_time_range[max_time_range['userId']['count']>100]
max_time_range['diff_time'] = max_time_range['timestamp']['max']-max_time_range['timestamp']['min']
max_time_range['range_time_hours'] = pd.to_datetime(max_time_range['diff_time'], unit='s').dt.hour
max_time_range[['userId', 'range_time_hours']].head()
# Как можно переименовать колонку с двойным/двухэтажным названием?
# https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.20.0.html#deprecate-groupby-agg-with-a-dictionary-when-renaming
# https://github.com/pandas-dev/pandas/issues/32156

       userId range_time_hours
        count
userId
4         204                8
8         116               23
15       1700               22
17        363                2
19        423                1

**Задание 4**

Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).
Необходимо сформировать две таблицы:
- таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
- аналогичную таблицу по типам выручки с указанием адреса клиента

*Обратите внимание, что в процессе объединения таблиц данные не должны теряться.*

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [ ]:
revenue = rzd.merge(air, how='outer', suffixes='client_id')
revenue = revenue.merge(auto, how='outer', suffixes='client_id').fillna(0)
revenue.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:7963: FutureWarning: Passing 'suffixes' as a <class 'str'>, is not supported and may give unexpected results. Provide 'suffixes' as a tuple instead. In the future a 'TypeError' will be raised.
  validate=validate,

   client_id  rzd_revenue  air_revenue  auto_revenue
0        111       1093.0          0.0           0.0
1        112       2810.0          0.0           0.0
2        113      10283.0          0.0       57483.0
3        114       5774.0          0.0          83.0
4        115        981.0         81.0         912.0

In [ ]:
revenue.merge(client_base, suffixes='client_id')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:7963: FutureWarning: Passing 'suffixes' as a <class 'str'>, is not supported and may give unexpected results. Provide 'suffixes' as a tuple instead. In the future a 'TypeError' will be raised.
  validate=validate,

   client_id  rzd_revenue  air_revenue  auto_revenue          address
0        111       1093.0          0.0           0.0  Комсомольская 4
1        112       2810.0          0.0           0.0   Энтузиастов 8а
2        113      10283.0          0.0       57483.0  Левобережная 1а
3        114       5774.0          0.0          83.0          Мира 14
4        115        981.0         81.0         912.0        ЗЖБИиДК 1
5        116          0.0          4.0        4834.0    Строителей 18
6        117          0.0         13.0          98.0  Панфиловская 33
7        118          0.0        173.0           0.0     Мастеркова 4